.carte{


    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 20vh;
    display: flex;
    /* padding-top:0.5rem; */

    & .contenant{

        /* border: 1px dashed blue; */
        width: 25%;
        height: 100%;
        position: relative;

        & .contenant_img{

            /* border: 1px solid greenyellow; */
            height: 85%;
        
            /* background-color: white; */
            z-index: 6;
            position: relative;

            & img{

                position:absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
           
            }
        }

        & .plateau{

            border-radius: 10px;
            height: 15%;
            background-color:var(--vin-rouge);
            position: absolute;
            z-index: 3;
            width: 100%;
            /* top: 5.8rem; */
            bottom: 1.2rem;
        }
    }

    & .detail{
/* 
        border: 1px dashed red; */
        width: 75%;

        & .description{

            /* border: 1px solid gold; */
            height: 60%;
            display: grid;
            grid-template-columns: 4fr 1fr;

            & .desc{

                /* border: 2px solid greenyellow; */

                & h3{

                    /* border: 2px solid black; */
                  
                    font-family: var( --police-principale);
                    /* font-size: var( --taille-texte-petit); */
                    font-style: normal;
                    font-weight: 400;
                    text-transform: capitalize;
                    font-size: 0.80rem;
                    line-height: normal;
                    word-spacing:100%;
                        
                }


                & .texte{

                    /* border:2px solid #FFAA2A; */
                    font-family: var( --police-principale);
                    font-size:0.60rem;
                    font-style: normal;
                    font-weight: 400;
                    margin-top: 0.77rem;
                    color: #5C5F69;
                }

            }

            & .favori{

                /* border: 2px solid blue; */
             
                & .fav{

                    margin-top: 0.3rem;
                    margin-left: 1.2rem;
                    /* width:26px;
                     height:25px; */
                     width: 40px;
                     height: 40px; 
                   
                }
            }
        }

        & .action{

            /* border: 1px solid red; */
            height: 40%;
            display: grid;
            grid-template-columns: 1fr 3fr;

            & .note{

                /* border: 2px solid burlywood; */
                height:40%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                margin-left: 0.5rem;
                margin-top:0.6rem ;

                & div{

                    /* border: 1px solid black; */
                    position: relative;

                    & .etoile{

                      fill: #FFAA2A;
                    }
                }
            }


            & #bouton{

                margin-left: 6rem;
                margin-top: 0.2rem;

                max-width: 60%;
                max-height: 60%;
            }
        }
    }
}