.carte {
    border-bottom: 2px solid #ebebeb;
    padding: 10px 0;
    height: 145px;
    display: flex;
    gap: 10px;

    & .contenant {
        flex-basis: 20%;
        height: 100%;
        position: relative;
        margin-top: 0;

        & .contenant_img {
            height: 100%;
            z-index: 6;
            position: relative;

            & img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                bottom: -3px;
            }
        }

        & .plateau {
            border-radius: 20px;
            height: 18px;
            position: absolute;
            z-index: 3;
            width: 100%;
            bottom: 0;

           
        }
    }

    & .detail {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .description {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            gap: 10px;

            & .desc {
                display: flex;
                flex-direction: column;
                gap: 7px;

                & h3 {
                    font-family: var(--police-principale);
                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 0.95rem;
                    min-height: 2lh;
                    line-height: 1.15rem;
                }

                & .texte {
                    font-family: var(--police-principale);
                    font-size: 0.82rem;
                    font-style: normal;
                    font-weight: 400;
                    color: #5c5f69;
                    line-height: 1.1rem;
                }
            }

            & .favori {
                width: 35px;
                flex-shrink: 0;
                & .fav {
                    /* margin-top: 0.3rem; */
                    /* margin-left: 1.2rem; */
                    width: 100%;
                    height: auto;
                }
            }
        }

        & .action {
            display: flex;
            justify-content: space-between;
            align-content: center;
            gap: 5px;
            /* grid-template-columns: 1fr 3fr; */

            & .note {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 40px;
                align-self: center;

                /* margin-left: 0.5rem;
                margin-top: 0.6rem; */

                & div {
                    position: relative;

                    & .etoile {
                        fill: #ffaa2a;
                    }
                }
            }
            & .espace-bouton {
                display: flex;
                justify-content: end;
                flex-grow: 3.5;

                & .bouton {
                    min-width: 125px;
                    max-width: 180px;
                    width: 60%;
                    font-size: 0.8rem;
                    height: 25px;
                    margin: 0;
                    padding: var(--espace-petit);
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}

.vin-rouge {
    background-color: var(--vin-rouge);
}

.vin-blanc {
    background-color: var(--vin-blanc);
}

.vin-rose {
    background-color: var(--vin-rose);
}

@media (min-width: 1200px) {
    .note {
        width: 30%;
    }

    .favori {
        padding-left: 8rem;
    }

    .action {
        & .bouton {
            text-align: center;
            margin-left: 18.8rem;
        }
    }
}
