.rouge-framboise {
    background-color: #F28B82;
}

.rose-peche {
    background-color: #FBC4AB;
}

.blanc-vanille {
    background-color: #FDF6E3;
}

.sauge-pale {
    background-color: #CDEAC0;
}

.lavande-brume {
    background-color: #E6E6FA;
}

.menthe-douce {
    background-color: #D1F2EB;
}

.bleu-ciel {
    background-color: #AEDFF7;
}

.champagne-pale {
    background-color: #FFF1D0;
}

.corail-pastel {
    background-color: #FFD1DC;
}

.gris-perle {
    background-color: #E5E5E5;
}

.celliers-page .container {
    display: flex;
    flex-direction: column;
    gap: var(--espace-grand);
}

.celliers-carte__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 1rem;
    object-fit: cover;
}

.celliers-carte__image img {
    max-width: 100px;
}

.celliers-carte__titre {
    font-size: var(--taille-titre);
    color: var(--texte-primaire);
    font-weight: 400;
}

.celliers-page a {
    text-decoration: none;
    color: var(--texte-primaire);
}

.celliers-carte__titre a:hover {
    cursor: pointer
}

.celliers-carte__description {
    font-size: 14px;
    color: var(--texte-info);
}

.celliers-carte .boutons {
    max-width: 180px;
    font-size: 11px;
}