.rose-peche {
    background-color: #F4B5BE;
}

.blanc-vanille {
    background-color: #FDF6E3;
}

.sauge-pale {
    background-color: #CDEAC0;
}

.lavande-brume {
    background-color: #E6E6FA;
}

.menthe-douce {
    background-color: #D1F2EB;
}

.bleu-ciel {
    background-color: #AEDFF7;
}

.champagne-pale {
    background-color: #FFF1D0;
}

.corail-pastel {
    background-color: #FFD1DC;
}

.gris-perle {
    background-color: #E5E5E5;
}