.pied {
    border: 1px solid var(--bordure-claire);
    background-color: var(--fond-navigation);
    border-radius: 24px 24px 0px 0px;
    height: 65px;
    position: sticky;
    bottom: 0;
    min-width: 500px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px -2px 17px #dfdfdf;

    & .pied-section {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: var(--espace-petit);
        flex-grow: 1;


        & .conteneur {
            display: flex;
            align-items: center;
            /* width: 40%;
            height: 70%; */
            /* left: 2em;
            position: relative; */
          & a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;

            & img {
                /*position: relative;
                 object-fit: contain; */
                width: auto;
                height: auto;
                filter: brightness(0) saturate(100%) invert(7%) sepia(33%) saturate(1557%) hue-rotate(197deg) brightness(91%) contrast(90%);
                max-width: 24px;
            }
            & span {
                line-height: var(--taille-texte-petit);
                color: var(--texte-primaire);
                font-family: var(--police-principale);
                font-size: 0.7;
                font-style: normal;
                font-weight: var(--poids-texte-normal);
                text-transform: capitalize;
                /* text-align: center; */
                /* padding-bottom: var(--espace-petit); */
    
            }
           }
           & .active {
            background-color: var(--arriere-plan-bouton-survol);
            color: var(--texte-secondaire);
            font-weight: var(--poids-texte-gras);
        }
    
        & div:hover {
    
            cursor: pointer;
            background-color: var(--arriere-plan-bouton-survol);
        }
         
           
        }

       

    }

   
}