.enregistrement-form-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 20px 20px;
    gap: var(--espace-grand);
}

.enregistrement-form,
.enregistrement-form__container__contenu {
    display: flex;
    flex-direction: column;
    gap: var(--espace-moyen);
}

.enregistrement-form__container__contenu p {
    font-size: 14px;
}

.enregistrement-form__container__contenu a,
.enregistrement-form__container__contenu a:visited {
    font-weight: 600;
    text-decoration: none;
    color: var(--couleur-secondaire);
}

.enregistrement-form__container__contenu a:hover,
.enregistrement-form__container__contenu a:active {
    color: var(--couleur-secondaire);
}

.balise-form {
    border-radius: 24px;
    background: #fff;
    width: 100%;
    gap: var(--espace-grand);

    & form {

        & input,
        textarea {
            border: none;
            background-color: var(--arriere-plan-gris-pale);
            border-radius: 10px;
            margin-top: 5px;
        }

        & .balise_courriel {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            color: #32343e;
            font-family: var(--police-principale);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }

        & .balise_password {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            color: #32343e;
            font-family: var(--police-principale);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;

            & .logo {
                display: grid;
                grid-template-columns: 100fr 1fr;
                position: relative;
            }

            & .conteneur_logo {
                position: absolute;
                width: 40px;
                height: 40px;
                left: 20.5rem;
                top: 0.3rem;

                & svg {
                    margin-top: 0.5rem;
                    width: 30px;
                }
            }

            & .conteneur_logo:hover {
                cursor: pointer;
            }

            & input {
                margin-top: 5px;
            }
        }

        & .balise_souvenir {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            color: #7e8a97;
            font-family: var(--police-principale);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            & a {
                text-decoration: none;
                font-family: var(--police-principale);
                color: #480e18;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        & .boutons {
            width: 100%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-top: 10px;
            border: none;
            border-radius: 12px;
            background: var(--PRIMARY, #aa8443);
            text-align: center;
            text-transform: uppercase;
            color: #181c2e;
            font-family: var(--police-principale);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            height: 40px;
        }

        & .boutons:hover {
            background-color: var(--couleur-principale-survol);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }
    }
}

.balise-inscrire {
    display: flex;
    justify-content: space-between;

    color: #646982;
    font-family: var(--police-principale);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-items: baseline;

    & a {
        color: #480e18;
        font-family: var(--police-principale);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
    }
}

input[type="email"],
input[type="password"],
input {
    font-family: var(--police-principale);
    color: var(--texte-info);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    max-height: 40px;
    background-color: #f0f5fa;
    padding: 10px;
}

.boutons {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    border-radius: 12px;
    background: var(--PRIMARY, #aa8443);
    text-align: center;
    text-transform: uppercase;
    color: #181c2e;
    font-family: var(--police-principale);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/*Ajustement de la page d'accueil*/
.enregistrement-form-page form .balise_courriel,
.enregistrement-form-page form .groupe-input.balise_inscrire,
.enregistrement-form-page form .balise_password {
    margin-top: 0;
}

.enregistrement-form-page form .groupe-input {
    margin-bottom: 0;
}