.header__nav-sec {
    display: flex;
    justify-content: space-between;
    padding: 10px var(--espace-moyen);
    background-color: var(--arriere-plan);
    align-items: center;

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;

        & img {
            width: auto;
            height: 30px;
        }
    }
}

h1 {
    color: #32343e;
    font-family: var(--police-principale);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    padding-left: 5px;
    margin-top: 5px;
}
