

.deconnexion{

    width: 100%;
    border-radius: 0;
    background-color: var(--arriere-plan-bouton);
    border-radius: var(--rayon-bouton);
    font-weight: var(--poids-texte-gras);
    
}


.deconnexion:hover{

    cursor: pointer;
    background-color: var(--arriere-plan-bouton-survol);
  
}