.update-profil-form {
    background-color: var(--arriere-plan);
    padding: var(--espace-moyen);
    margin-bottom: var(--espace-grand);


    & header {
        align-items: center;
        margin-bottom: 1rem;
    }

    & .conteneur {
        padding: 20px;
        border-radius: 25px;
        background-color: var(--arriere-plan-gris-pale);


        & form {
            display: flex;
            flex-direction: column;
            gap: var(--espace-grand);


            & section {
                display: flex;
                flex-direction: column;
                gap: var(--espace-moyen);

                & .section__sous-titre {
                    display: flex;
                    align-items: center;
                    gap: var(--espace-moyen);

                    &> :last-child {
                        margin-left: auto;
                        rotate: 180deg;
                    }
                    & .section__sous-titre-texte {
                        font-weight: 400;
                        font-size: 17px;
                    }
                }
                & .section__icone-cercle{
                    display: flex;
                    justify-content: center;
                    background-color: var(--arriere-plan);
                    padding: 10px;
                    border-radius: 50px;
                    width: 40px;
                    height: 40px;
                    
                    & img{
                        max-width: 15px;
                    }
                }

            }

            & section+section {
                margin-top: var(--espace-moyen);
            }

            & .groupe-input {
                display: flex;
                flex-direction: column;
                gap: var(--espace-petit);

                 & input, textarea {
                    border: none;
                    background-color: #fff;
                    border-radius: 10px;
                 }
                 
                 & label {
                    text-transform: uppercase;
                    font-size: 13px;
                 }

            }
           
              & .bouton {
                    border: none;
                    height: 40px;
                    width: 100%;
                    max-width: 500px;
                    text-transform: uppercase;
                 }
        }
    }

    & .conteneur+.conteneur {
        margin-top: var(--espace-grand);
    }

    &> :last-child {
        margin-top: var(--espace-grand);
    }
}