.bouton {
    padding: 0px 5px;
    background-color: var(--couleur-principale);
    border-radius: var(--rayon-bouton);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    margin-top: 0.2rem;
    padding: var(--espace-petit) var(--espace-moyen);

    & a {
        text-decoration: none;
        color: var(--couleur-texte);
        font-size: 0.6rem;
    }
}

button {
    border: none;
}

.bouton_cellier {

    margin-left: 6rem;
}

.bouton:hover {
    background-color: var(--couleur-principale-survol);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.bouton_nav {
    /* font-size: 1.5rem; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--arriere-plan-bouton);
}

.bouton_nav:hover {
    background-color: var(--arriere-plan-bouton-survol);
}

.bouton-danger {
    background-color: var(--couleur-danger);
    color: var(--texte-secondaire);
    border-radius: 6px;
}

.bouton-danger:hover {
    background-color: var(--couleur-danger-survol);
}

.bouton-success {
    background-color: var(--couleur-succes);
    color: var(--texte-secondaire);
}

.bouton-success:hover {
    background-color: var(--couleur-succes-survol);
}

.bouton-warning {
    background-color: var(--couleur-warning);
    color: var(--texte-secondaire);
}

.bouton-warning:hover {
    background-color: var(--couleur-warning-survol);
}