.bouton {
    padding: 0px 5px;
    background-color: var(--couleur-principale);
    border-radius: var(--rayon-bouton);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    margin-top: 0.2rem;
    max-width: 60%;
    max-height: 60%;

    & a {
        text-decoration: none;
        color: var(--couleur-texte);
        font-size: 0.6rem;
        margin-left: 20%;
    }
}


.bouton_cellier{

margin-left: 6rem;    
}

.bouton:hover {
    background-color: var(--couleur-principale-survol);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.bouton_nav {
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    background-color: var(--arriere-plan-bouton);
}

.bouton_nav:hover {
    background-color: var(--arriere-plan-bouton-survol);
}