body {
    background-color: var(--arriere-plan);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 60px;
    font-family: "sen", sans-serif;
    font-weight:400;
    font-style:normal;
}

main {
    padding-bottom: 75px;
}
h1 {
    font-size: 1.5em;
    color: var(--texte-primaire);
}