body {
    background-color: var(--arriere-plan);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 100px;
    font-family: "sen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    max-width: 600px;
    padding: 2rem;
    padding-bottom: 75px;
    border-radius: var(--rayon-carte);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 1.5em;
    color: var(--texte-primaire);
}