body {
    /* background-color: var(--arriere-plan); */
    background-color: #ffffff;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "sen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: var(--espace-moyen);
    border-radius: var(--rayon-carte);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    min-height: calc(100dvh - 70px - 40px);
    margin: 0 auto 20px;
    background-color: #ffffff;

    & h1 {
        font-size: 1.5em;
        color: var(--texte-primaire);
    }
}