:root {
    --couleur-CTA: #AA8443;
    --couleur-CTA-hover: #765823;
    --couleur-background: #fff;
    --couleur-background-bouttons: #ECF0F4;
    --couleur-background-bouttons-hover: #D0D7E4;
    --couleur-texte: #181C2E;
    --couleur-texte-secondaire: #fff;
}